<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

     <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar navbar-text" href="{{ url_for('catalogue.home') }}">
                    <!-- <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; -->
                    <h3 class="title">The Online Book Store</h3></a>
               
            </div>

                <div class="collapse navbar-collapse" id="topNavBar">

                    <ul class="nav navbar-nav">
                        <!-- <li class="">
                            <a href="{{ url_for('catalogue.home') }}">
                                <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>&nbsp;Food Review Sentiment
                            </a>
                        </li> -->

                        <!-- <li class="">
                            <a href="{{ url_for('catalogue.home') }}">
                                <span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp;Songs
                            </a>
                        </li> -->
                    </ul>
                        

                <ul class="nav navbar-nav navbar-right">


                        <!-- <li class="">
                            <a href="{{ url_for('catalogue.home') }}">
                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;My Playlists
                            </a>
                        </li> -->

                        <!-- <li class="">
                            <a href="{{ url_for('catalogue.home') }}">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Create Playlist
                            </a>
                        </li> -->

                        {% if current_user.is_authenticated %}

                            <li class="">
                                <a href="{{ url_for('catalogue.create_publication') }}">
                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;Add Publication
                                </a>
                            </li>

                            <li class="">
                                <a href="{{ url_for('catalogue.create_book') }}">
                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;Add Book
                                </a>
                                
                            </li>

                            <!-- <li class=""> -->
                                <!-- <a href="">
                                    Hello <b style=" color: rgb(70, 209, 219)">{{ current_user.user_name.title() }}</b>
                                </a> -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Hello <b style=" color: rgb(191, 238, 241)">{{ current_user.user_name.title() }}</b></a>
                                        
                                    <ul class="dropdown-menu">
                                      <li><a style="color:#062F4F" href="{{ url_for('authentication.update_password') }}">Update Password</a></li>
            
                                    </ul>
                                  </li>
                            <!-- </li> -->

                            <li class="">
                                <a href="{{ url_for('authentication.log_out_user') }}">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Log-Out
                                </a>
                            </li>
                        
                        {% else %}
                            <li class="">
                               <a href="{{ url_for('authentication.register_user') }}">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;Register
                               </a>
                            </li>

                            <li class="">
                                <a href="{{ url_for('authentication.do_the_login') }}">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Log-In
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    
                </ul>

                <!-- </div> -->
        </div>
     </nav>

<div class="container-fluid">
    {# flash messaging #}
    {% for message in get_flashed_messages() %}
    <div class="container alert alert-info">
        <button type="button" class="close" data-dismiss="alert"> </button>
        {{ message }}
    {% endfor %}
</div>

<div class="container-fluid">
{% block body%}
{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
<footer class="container-fluid bg-4 text-center">
  <p>This website is developed and maintained by Abhishek Singh    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp; &nbsp;abs9594@gmail.com</p>
</footer>
</body>
</html>