{% extends 'base.html' %}

{% block title %}
The Online Book Store
{% endblock %}

{% block body %}

	<div class="container books">
            <div class="row">
                {% for book in books %}
                    <div class="col-md-4">
                        <br>
                        <img src="{{ url_for('static', filename='img/'+book.image) }}"
                         alt="book-img" height="200" width="180" class="img-rounded"><br>
                        <h4>{{ book.title }}</h4>
                        <p>Authors: {{ book.author }}</p>
                        <p>Format: {{ book.format }}</p>
                        <p>Rating: {{ book.avg_rating }}</p>
                        <p>Pages: {{ book.num_pages }}</p>
                        <p><a href="{{ url_for('catalogue.display_publisher',publisher_id=book.pub_id) }}">Publisher Id: {{ book.pub_id }}</a></p>
                        <br>
                        <span class="label label-info"><a href="{{ url_for('catalogue.delete_book', book_id=book.id) }}" style="color: floralwhite"> Delete </a></span>
                        <span class="label label-primary" style="margin-left: 20px"><a href="{{ url_for('catalogue.edit_book', book_id=book.id) }}" style="color: floralwhite"> Update </a></span>
                    </div>
                {% endfor %}
            </div>
        </div>

{% endblock %}